<a href="/">Back To Main Page</a>
<div class="widget">
  <form name="create-page-form" id="create-page-form" method="post" nonvalidate>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" placeholder="Title" required value="{{title}}" />
    </div>

    <div class="form-group">
      <label for="title">Author</label>
      <input type="text" id="author" name="author" placeholder="Author" required value="{{author}}" />
    </div>

    <div class="form-group">
      <label for="subject">Subject</label>
      <select id='subject' name='subject' >
      </select>
    </div>
    
    <div class="form-group">
      <label for="content">Content</label>
      <textarea rows="4" cols="50" id="content" name="content" placeholder="Content" required  >{{content}}</textarea>
    </div>

    <div class="form-group">
      <label for="title">Tags</label>
      <input type="text" id="tags" name="tags" placeholder="Tags"/>
    </div>

    <div class="form-submit">
      <input type="submit" name="type" value="submit"/>
    </div>
    
    <span style="color:blue">{{msg}}</span>
    <span id="msg"></span>
    <span style="color:red">{{error}}</span>
  </form>
  
</div>
<script>
  var subjects;
   $.ajax({
    type: 'GET',
    url: '/subjects',
    success: function (response) {
      subjects = response;
      for(var i = 0 ; i < subjects.length; i++){
        $('#subject').append('<option value="' + subjects[i].name + '">' + subjects[i].name + '</option>');
      }
    }
   })
</script>
